/*header*/
header
{
    width: 100%;
    background: #fff;

}
header nav
{
    width: 1155px;
    margin: 0 auto;
}

header nav h1
{   
    float: left;
    width: 103px;
    height: 31px;
    margin:12px 0;
    text-indent: -1000px;
    background: url(../images/task7_logo.png) no-repeat;
    cursor: pointer;
    overflow: hidden;
}
header nav ul
{
    float: right;
}
header nav ul li
{
    float: left;
    font-size: 14px;
    line-height: 53px;
    padding:0 23px;
}
header nav ul .login
{
    position: relative;
    color: #e74f4d;
}
header nav ul .login a:before
{
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    width: 15px;
    height: 16px;
    background: url(../images/task7_icon.png) no-repeat -98px -74px;
}

header nav ul .on
{
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}

header nav ul li a
{
    color: #787b83;
}
header nav ul .login a
{
    color: #e74f4d;
}
header nav ul li a:hover
{
    color: #e74f4d;
}

/*banner*/
.banner
{
    clear: both;
}